<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 1 - PH27046</title>

    <!-- #Bootstrap CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- navbar-header-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="" class="navbar-brand"><img src="https://caodang.fpt.edu.vn/wp-content/uploads/logo-3.png"
                        alt="Logo Trường" class="img-responsive" style="max-height: 100%;"></a>
                <!-- <a class="navbar-brand" href="#">FPT Polytechnic</a> -->
            </div>
            <!-- navbar-collapse -->
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">GIỚI THIỆU CHUNG <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Về FPT Education</a>
                            </li>
                            <li><a href="#">Trường CĐ FPT Polytechnic</a></li>
                            <li><a href="#">Gắn kết cộng đồng</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">CHƯƠNG TRÌNH ĐÀO ĐẠO</a>
                    </li>
                    <li>
                        <a href="#">TUYỂN SINH</a>
                    </li>
                    <li>
                        <a href="#">TUYỂN DỤNG</a>
                    </li>
                </ul>
                <!-- navbar-right -->
                <form action="" class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" value="HOT: KỲ THI THPT">
                    </div>
                    <button class="btn btn-danger">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </form>

            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <img src="https://caodang.fpt.edu.vn/wp-content/uploads/1900x750-3-toi-uu-1.webp" alt="Ảnh bìa"
            class="img-responsive">
    </div>

    <div class="container">
    {{{body}}}
        <div class="row">
            <div class="col-lg-4 col-xs-6" style="padding: 16px;">
                <img src="https://picsum.photos/499" alt="" class="img-rounded img-responsive">
            </div>
            <div class="col-lg-4 col-xs-6" style="padding: 16px;">
                <img src="https://picsum.photos/503" alt="" class="img-rounded img-responsive">
            </div>
            <div class="col-lg-4 col-xs-12" style="padding: 16px;">
                <img src="https://picsum.photos/498" alt="" class="img-rounded img-responsive">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-6" style="padding: 16px;">
                <img src="https://picsum.photos/501" alt="" class="img-rounded img-responsive">
            </div>
            <div class="col-lg-4 col-xs-6" style="padding: 16px;">
                <img src="https://picsum.photos/497" alt="" class="img-rounded img-responsive">
            </div>
            <div class="col-lg-4 col-xs-12" style="padding: 16px;">
                <img src="https://picsum.photos/502" alt="" class="img-rounded img-responsive">
            </div>
        </div>
    
    
    </div>


</body>

</html>